# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
island

# Emacs backups
*~

# Output netpbm images
*.pbm
*.pgm
*.ppm
